<!doctype html>
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <title>{{ page.title }} - {{ site.title }}</title>
  <!--meta info-->
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no"> -->
  <meta name="author" content="Gooveris">
  <meta name="keywords" content="gym, fitness, gerencia, administración, fitnessmanagerindex, social, gym, workout, entrenamientos, manager, indicadores, estadísticas, negocio, bussines">
  <meta name="description" content="FMI - Fitness Manager Index">
  <meta name="robots" content="index,follow">
  <!--web fonts-->
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic' rel='stylesheet' type='text/css'>
  <!--libs css-->
  <link rel="stylesheet" type="text/css" media="all" href="{{ '/land/plugins/owl-carousel/owl.carousel.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" media="all" href="{{ '/land/plugins/owl-carousel/owl.transitions.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" media="all" href="{{ '/land/plugins/jackbox/css/jackbox.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ '/land/plugins/rs-plugin/css/settings.css' | prepend: site.baseurl }}">
  <!--theme css-->
  <link rel="stylesheet" type="text/css" media="all" href="{{ '/land/css/bootstrap.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" media="all" href="{{ '/land/css/theme-animate.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" media="all" href="{{ '/land/css/style.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" media="all" href="{{ '/land/css/sgcustom.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" media="all" href="{{ '/land/css/stylespricing.css' | prepend: site.baseurl }}">
  <!--head libs-->
  <script src="{{ '/land/js/jquery-2.1.0.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/land/plugins/jquery.queryloader2.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/land/plugins/modernizr.js' | prepend: site.baseurl }}"></script>
  <script>
    $('html').addClass('d_none');
    $(document).ready(function(){
      $('html').show();
      $("body").queryLoader2({
        backgroundColor: '#fff',
        barColor : '#35eef6',
        barHeight: 4,
        percentage:true,
        deepSearch:true,
        minimumTime:1000
      });
    });
  </script>
</head>
<body class="sticky_menus">
  <!--side menu-->
  <button id="open_side_menu" class="icon_wrap_size_2 circle color_black">
    <i class="icon-menu"></i>
  </button>
  
  <!--layout-->
  <div class="wide_layout bg_light">
    <!--header markup-->
    <header role="banner" class="relative type_2">
      <span class="gradient_line"></span>

      <section class="header_bottom_part type_2 bg_light">
        <div class="container">
          <!--logo-->
          <div class="t_align_c">
            <a href="/" class="d_inline_m m_xs_bottom_10">
            <img src="/land/images/logo.png" style="max-width: 550px;">
            </a>
          </div>
        </div>
      </section>
      <hr class="d_xs_none">
      <section class="sticky_part bg_light">
        <div class="container t_align_c">
          <!--main navigation-->
          <button id="menu_button" class="r_corners tr_all color_blue db_centered m_bottom_20 d_none d_xs_block">
            <i class="icon-menu"></i>
          </button>
          <!--main navigation-->
          <nav role="navigation" class="d_inline_m d_xs_none m_xs_right_0 m_right_15 m_sm_right_5 t_align_l m_xs_bottom_15">
            <ul class="hr_list main_menu type_2 fw_light">
              {% if page.id == "main" %}
              <li class="current container3d relative f_xs_none m_xs_bottom_5">
                {% else %}
                <li class="container3d relative f_xs_none m_xs_bottom_5">
                  {% endif %}
                  <a class="color_dark fs_large relative r_xs_corners" href="/">
                    Inicio
                  </a>
                </li>
                {% if page.id == "servicios" %}
                <li class="current container3d relative f_xs_none m_xs_bottom_5">
                  {% else %}
                  <li class="container3d relative f_xs_none m_xs_bottom_5">
                    {% endif %}
                    <a class="color_dark fs_large relative r_xs_corners" href="/servicios">Servicios
                    </a>
                    {% if page.id == "novedades" %}
                    <li class="current container3d relative f_xs_none m_xs_bottom_5">
                      {% else %}
                      <li class="container3d relative f_xs_none m_xs_bottom_5">
                        {% endif %}
                        <a class="color_dark fs_large relative r_xs_corners" href="/novedades">
                          Novedades
                        </a>
                      </li>
                      {% if page.id == "contacto" %}
                      <li class="current container3d relative f_xs_none m_xs_bottom_5">
                        {% else %}
                        <li class="container3d relative f_xs_none m_xs_bottom_5">
                          {% endif %}
                          <a class="color_dark fs_large relative r_xs_corners" href="/contacto">
                           Contacto
                         </a>
                       </li>
                       {% if page.id == "soporte" %}
                       <li class="current container3d relative f_xs_none m_xs_bottom_5">
                        {% else %}
                        <li class="container3d relative f_xs_none m_xs_bottom_5">
                          {% endif %}
                          <a class="color_dark fs_large relative r_xs_corners" href="/soporte">Soporte
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </section>
              </header>

              <hr class="divider_type_2">  